---
import MyBaseLayout from "../../layouts/MyBaseLayout.astro";

// Fun Comps
import HoverColor from "../../components/fun/HoverColor.astro";
import Pusher from "../../components/fun/Pusher.astro";
---

<MyBaseLayout pageTitle="Fun Page | AbdooOwd's Portfolio">
    <h2>You're here?!</h2>
    <p>
        Hey! This is supposed to be my secret place!
        This is where I test things, you can call this place
        "my playground". I put funny stuff, you can stay here.
    </p>

    <HoverColor> Yo Bro </HoverColor>
    <br/>
    <center><Pusher /></center>

</MyBaseLayout>