---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Title Says it"
	pubDate={new Date('August 08 2021')}
	heroImage="/imgs/blog-placeholder-about.jpg"
>
	<p>
		This portfolio is where I post about technically anything. Tech, art, news, anything that comes
		to my mind. I have a blog too! check it out <a href="/blog">here</a>!
	</p>
</Layout>
