---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			
			<h1>AbdooOwd's Portfolio</h1>

			<h2>About me</h2>
			<p>
				Hi everybody! I am Abdoo, a 14 years old Algerian who loves programming.
				I made this portfolio to keep up with my ideas.
			</p>

			<h2>My known programming languages</h2>
			<p>
				I know a lot of programming languages. There are some that I master, others that I just know.
				<br/>The programming languages I know are:
				<ul>
					<li><b>Python</b></li>
					<li>Rust</li>
					<li><b>C/C++</b></li>
					<li>Java</li>
					<li><b>GDScript <i>(it's a programming language for the Godot Engine)</i></b></li>
					
					<li>And plenty others...</li>
					<br/><h6><i>(The languages in bold are the languages I most likely master)</i></h6>
				</ul>

				<br/> I am intersted in almost every topic, as long as it is related to tech.
				But my favourite topics are:
				<ul>
					<li>Software</li>
					<li>Hardware</li>
					<li>Game Dev</li>
				</ul>
			</p>

		</main>
		<Footer />
	</body>
</html>
