---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
        <main>
            <h1>Secret</h1>
            <p>
                Oh, hi! You're here. Here I just put <b>really</b> random stuff.
                Like, really random. You can call this an <b><i>"Easter Egg"</i></b>
                I guess?
            </p>
            <ul>
                <li>Godot 4.3 is awesome! Wait a minute... There is no Godot 4.3 ...</li>
                <li>I love Astro, best framework ever.</li>
                <li>
                    Fun Fact: In the footer of this website's pages, 
                    there is random text. Just check right now and reload the page.
                </li>
            </ul>
        </main>
		<Footer />
	</body>
</html>
