<style>
    .leFunHoverColor {
        transition-duration: 0.3s;
        height: 70px;
        width: 120px;
        border-radius: 5px;
        background-color: aquamarine;
        cursor: pointer;
        color: aquamarine;
        text-align: center;
        font-weight: normal;
    }
    .leFunHoverColor:hover {
        background-color: aliceblue;
        color: black;
        width: 300px;
        padding-top: 30px;
        font-weight: bold;
    }
</style>

<div class="leFunHoverColor"><slot/></div>