---
import BaseLayout from '../../../layouts/MyBaseLayout.astro';
import BlogCard from '../../../components/BlogCard.astro';

export async function getStaticPaths() {
    const allPosts = await Astro.glob('../../../content/blog/*.md');
  return [
    { params: { tag: "programming" },   props: {posts: allPosts} },
    { params: { tag: "projects" },      props: {posts: allPosts} },
    { params: { tag: "community" },     props: {posts: allPosts} },
    { params: { tag: "blogging" },      props: {posts: allPosts} },
    { params: { tag: "random" },        props: {posts: allPosts} },
    { params: { tag: "learned" },       props: {posts: allPosts} },
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.frontmatter.tags?.includes(tag));
---

<style>
    /*.post-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }*/
    .post-item {
        width: 100%;
        height: 100vh;
    }
  </style>

<BaseLayout pageTitle={`Tag: ${tag}`}>
  <h3>Posts tagged with {tag}</h3>
  <ul class="post-grid">
    {filteredPosts.map((post) => <BlogCard class="post-item" post={post}/>)}
  </ul>
</BaseLayout>